* {
    padding: 0;
    margin: 0;
}

body {
    text-align: justify;
}

h1 {
    color: rgb(128, 14, 14);
    font-size: 30px;
}

ol {
    color: rgb(121, 58, 58);
    font-size: 18px;
    margin: 10px 0px 10px 0px;
}

.git {
    display: block;
    height: 400px;
    width: 100%;
    background-color: orangered;
    padding: 0 auto 0 auto;
}
.Tips {
    display: block;
    margin: 0 auto 10px auto;
    height: 250px;
    padding: 20px 0px 20px 0px;
    
}

.tipback {
    background-color: rgb(99, 30, 30);
}

.heading {
    color: rgb(226, 196, 196);
    margin: 0px 0px 40px 0px;
    padding: 30px 14px 30px 14px;
    background-color: rgb(97, 64, 64);
    font-size: 20px;
}
.container1, .container2  {
    margin: 20px 40px 20px 40px;
}

.bottom-line {
    padding: 40px 10px 40px 10px;
    background-color: rgb(97, 64, 64);
    color: rgb(209, 166, 58);
    text-align: center;
}

a {
    color: goldenrod;
}